<!doctype html>
<html lang="en" ng-app="myApp" ng-controller="myApp.myAppCtrl" ng-strict-di>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Testing AngularJS with Jasmine and CoffeeScript</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.1/flatly/bootstrap.min.css">
    <link rel="stylesheet" href="css/app.css">
    <link rel="stylesheet" href="lib/prism/prism.css">
  </head>
  <body>

    <div class="container">
      <header class="row">
        <div class="col-xs-12">
          <h1>Testing AngularJS with Jasmine and CoffeeScript</h1>
          <hr>
        </div>
      </header>
      <div class="row">
        <div class="col-xs-12 col-md-8">
          <h2>Alert</h2>
          <alert dismissible="true" callback="notify(id)" id="ID-123">Just default alert, but with callback!</alert>
          <alert type="success">Well done! You successfully read this important alert message.</alert>
          <alert type="info" dismissible="true">Heads up! This alert needs your attention, but it's not super important.</alert>
          <alert type="warning">Warning! Better check yourself, you're not looking too good.</alert>
          <alert type="danger" dismissible="true">Oh snap! Change a few things up and try submitting again.</alert>
          <hr>
          <h2>Moment.js <small>parse, validate, manipulate, and display dates.</small></h2>
          <h3 class="moment">{{ "2015-02-08 19:00" | moment }}</h3>
          <pre><code class="language-javascript" ng-non-bindable>&#123;&#123; "2015-02-08 19:00" | moment &#125;&#125;</code></pre>
          <h3 class="moment">{{ "2015-02-08 19:00" | moment:"LL" }}</h3>
          <pre><code class="language-javascript" ng-non-bindable>&#123;&#123; "2015-02-08 19:00" | moment:"LL" &#125;&#125;</code></pre>
          <h3 class="moment">{{ "2015-02-08 19:00" | moment:"lll" }}</h3>
          <pre><code class="language-javascript" ng-non-bindable>&#123;&#123; "2015-02-08 19:00" | moment:"lll" &#125;&#125;</code></pre>
          <h3 class="moment">{{ "2015-02-08 19:00" | moment:"MMM Do YY" }}</h3>
          <pre><code class="language-javascript" ng-non-bindable>&#123;&#123; "2015-02-08 19:00" | moment:"MMM Do YY" &#125;&#125;</code></pre>
          <hr>
          <h2>FillText.com <small>generates JSON datasets for demonstration purposes.</small></h2>
          <form class="records-control">
            <input type="submit" class="records-control__btn btn btn-primary" ng-click="getRecords()" value="Reload">
            <input type="number" class="records-control__count form-control" placeholder="Records number" ng-model="recordsCount">
          </form>
          <ul class="records-list">
            <li ng-repeat="person in people">{{ person.name }} {{ person.surname }}</li>
          </ul>
        </div>
      </div>
      <footer class="row">
        <div class="col-xs-12">
          <hr>
          <p><a href="https://twitter.com/">Michał Załęcki</a></p>
        </div>
      </footer>
    </div>

    <script src="bower_components/angular/angular.js"></script>
    <script src="js/app.js"></script>
    <script src="js/alert/alert.js"></script>
    <script src="js/alert/alert-directive.js"></script>
    <script src="bower_components/moment/moment.js"></script>
    <script src="js/moment/moment.js"></script>
    <script src="js/moment/moment-factory.js"></script>
    <script src="js/moment/moment-filter.js"></script>
    <script src="js/filltext/filltext.js"></script>
    <script src="js/filltext/filltext-service.js"></script>
    <script src="lib/prism/prism.js"></script>
  </body>
</html>